@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0B1120;
    --secondary: #111827;
    --surface: #1F2937;
    --card: #1E293B;
    --primary-text: #F8FAFC;
    --muted: #94A3B8;

    --accent-orange: #FF8300;
    --accent-blue: #3B82F6;
    --accent-emerald: #10B981;
    --accent-purple: #8B5CF6;
    --accent-red: #EF4444;
    --accent-yellow: #FACC15;
  }
  
  body {
    background-color: var(--background);
    color: var(--primary-text);
    @apply antialiased selection:bg-accent-orange selection:text-white transition-colors duration-300;
  }
}
